<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sklep internetowy</title>
  <link rel="stylesheet" type="text/css" href="/css/mainPage.css">
</head>

<body>
  <div class="columnLogoCategories">
    <button class="MainPage">Strona główna</button>
  </div>
  <div class="ColumnShopLogin">
    <div class="ToolBar">
      <div>
        <div class="UserMenu">
          <% if (typeof username != "undefined") { %>
            <button class="logoutButton" onclick="window.location.href='/logout'">Wyloguj</button>
            <%if(type == "admin"){ %>
              <button class="ordersButton" onclick="window.location.href='/orders'">Zamówienia</button>
              <button class="postButton" onclick="window.location.href='/post'">Dodaj nowy przedmiot</button>
            <%} %>
          <% } else { %>
            <button class="registerButton" onclick="window.location.href='/register'">Zarejestruj</button>
            <button class="loginButton" onclick="window.location.href='/login'">Zaloguj</button>
          <% } %>
          
        </div>
      </div>
      <div>
        <div class="SearchBar">
          <form action="/search" method="POST">
            <input type="text" placeholder="Szukaj...">
          </form>
        </div>
      </div>
    </div>
    <% shopItems.forEach(shopItem => { %>
          <div class="item" onclick="itemClicked( <%=shopItem.id%> )">
            <img src="/images/<%= shopItem.image %>" class="itemPhoto">
            <h1 class="itemName"><%= shopItem.name %></h1>
            <h2 class="itemPrice"><%= shopItem.price %></h2>
            <p class="itemDescription"><%= shopItem.description %></p>
        </div>
    <% }); %>
  </div>
</body>
<script>
  const searchBar = document.querySelector(".SearchBar");
  const input = searchBar.querySelector("input");
  searchBar.addEventListener("click", (e) => {
    input.focus();
  });
  function itemClicked(id){
    console.log(id);
  }
  const mainPageButton = document.querySelector(".MainPage");
  mainPageButton.addEventListener("click", (e) => {
    window.location.href = "/";
  });
</script>

</html>