<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sklep internetowy</title>
  <link rel="stylesheet" type="text/css" href="/css/mainPage.css">
</head>

<body>
  <div class="columnLogoShopCart">
    <button class="MainPage">Strona główna</button>
    <section class="container content-section">
      <h2 class="section-header">Koszyk</h2>
      <div class="cart-row">
        <span class="cart-item cart-header cart-column">PRZEDMIOT</span>
        <span class="cart-price cart-header cart-column">CENA</span>
        <span class="cart-quantity cart-header cart-column">ILOŚĆ</span>
      </div>
      <div class="cart-items">

      </div>
      <div class="cart-total">
        <strong class="cart-total-title">Łącznie</strong>
        <span class="cart-total-price">0 zł</span>
      </div>
      <button class="btn btn-primary btn-purchase" type="button" onclick="purchaseItems()">Kup</button>
    </section>
  </div>
  <div class="ColumnShopLogin">
    <div class="ToolBar">
      <div>
        <div class="UserMenu">
          <% if (typeof username != "undefined") { %>
            <button class="logoutButton" onclick="window.location.href='/logout'">Wyloguj</button>
            <button class="orderButton" onclick="window.location.href='/orders'">Zamówienia</button>
            <%if(type === "admin"){ %>
              <button class="adminButton" onclick="window.location.href='/adminPanel'">Panel administratora</button>
            <%} %>
          <% } else { %>
            <button class="registerButton" onclick="window.location.href='/register'">Zarejestruj</button>
            <button class="loginButton" onclick="window.location.href='/login'">Zaloguj</button>
          <% } %>
          
        </div>
      </div>
      <div>
        <div class="SearchBar">
          <form action="/search" method="POST">
            <input type="text" placeholder="Szukaj...">
          </form>
        </div>
      </div>
    </div>
    <% shopItems.forEach(shopItem => { %>
          <div class="item">
            <img src="/images/<%= shopItem.image %>" class="itemPhoto">
            <h1 class="itemName">Nazwa: <%= shopItem.name %></h1>
            <h2 class="itemPrice">Cena: <%= shopItem.price %></h2>
            <p class="itemDescription">Opis: <%= shopItem.description %></p>
            <button class="itemAddCart" onclick="addToCart( '<%= shopItem.name%>', '<%= shopItem.price%>', '<%= shopItem.image %>')">Dodaj do koszyka</button>
          </div>
    <% }); %>
  </div>
</body>
<script>
  const searchBar = document.querySelector(".SearchBar");
  const input = searchBar.querySelector("input");
  searchBar.addEventListener("click", (e) => {
    input.focus();
  });

  const mainPageButton = document.querySelector(".MainPage");
  mainPageButton.addEventListener("click", (e) => {
    window.location.href = "/";
  });

  function addToCart(name, price, image){
    var cartRow = document.createElement('div');
    cartRow.classList.add('cart-row')
    var cartItems = document.getElementsByClassName('cart-items')[0];
    var cartItemsNames = cartItems.getElementsByClassName("cart-item-title");
    for(var i = 0; i < cartItemsNames.length; i++){
      if(cartItemsNames[i].innerText === name){
        alert("Ten przedmiot jest już w koszyku!");
        return;
      }
    }
    var cartRowContent = `
        <div class="cart-item cart-column">
            <img class="cart-item-image" src="images/${image}" width="100" height="100">
            <span class="cart-item-title">${name}</span>
        </div>
        <span class="cart-price cart-column">${price}</span>
        <div class="cart-quantity cart-column">
            <input class="cart-quantity-input" type="number" value="1">
            <button class="btn btn-danger" type="button">USUN</button>
        </div>
    `
    cartRow.innerHTML = cartRowContent;
    cartItems.append(cartRow);
  }

  async function purchaseItems(){
    if('<%= isAuth %>' === 'false'){
      alert("Musisz byc zalogowany");
      return;
    }
    var cartItems = document.getElementsByClassName('cart-items')[0];
    var cartItemsNames = cartItems.getElementsByClassName("cart-item-title");
    var cartItemsId = [];
    var itemAmount = cartItemsNames.length
    for(var i = 0; i< itemAmount; i++){
      await fetch(`/getItemIdByName/${cartItemsNames[i].innerText}`)
              .then(response => response.json())
              .then(data => {
                cartItemsId.push(data.itemId);
              })
              .catch(error => console.error('Error:', error));
    }
    var cartItemsQuantity = cartItems.getElementsByClassName("cart-quantity-input");
    var cartItemsQuantities = [];
    for(var i = 0; i < itemAmount; i++){
      cartItemsQuantities.push(cartItemsQuantity[i].value);
    }
    for(var i = 0; i < itemAmount; i++){
      var itemId = cartItemsId[i];
      var quantity = cartItemsQuantities[i];
      await fetch(`placeOrder/${itemId}/${quantity}`, {
        method: "POST"
      }).then((response) => {
      });
    }
    window.location.href = "/";
  }

</script>

</html>