<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sklep internetowy</title>
  <script src="mainPageScript.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/mainPage.css">

</head>

<body>
  <div class="columnLogoShopCart">
    <button class="MainPage">Strona główna</button>
    <section class="container content-section">
      <h2 class="section-header">Koszyk</h2>
      <div class="cart-row">
        <span class="cart-item cart-header cart-column">PRZEDMIOT</span>
        <span class="cart-price cart-header cart-column">CENA</span>
        <span class="cart-quantity cart-header cart-column">ILOŚĆ</span>
      </div>
      <div class="cart-items">

      </div>
      <div class="cart-total">
        <strong class="cart-total-title">Łącznie</strong>
        <span class="cart-total-price">0 zł</span>
      </div>
      <button class="btn btn-primary btn-purchase" type="button"">Kup</button>
    </section>
  </div>
  <div class="ColumnShopLogin">
    <div class="ToolBar">
      <div>
        <div class="UserMenu">
          <% if (typeof username != "undefined") { %>
            <button class="logoutButton" onclick="window.location.href='/logout'">Wyloguj</button>
            <button class="orderButton" onclick="window.location.href='/orders'">Zamówienia</button>
            <%if(type === "admin"){ %>
              <button class="adminButton" onclick="window.location.href='/adminPanel'">Panel administratora</button>
            <%} %>
          <% } else { %>
            <button class="registerButton" onclick="window.location.href='/register'">Zarejestruj</button>
            <button class="loginButton" onclick="window.location.href='/login'">Zaloguj</button>
          <% } %>
          
        </div>
      </div>
      <div>
        <div class="SearchBar">
          <form action="/search" method="POST">
            <input type="text" placeholder="Szukaj...">
          </form>
        </div>
      </div>
    </div>
    <% shopItems.forEach(shopItem => { %>
          <div class="item">
            <img src="/images/<%= shopItem.image %>" class="itemPhoto">
            <h1 class="itemName">Nazwa: <%= shopItem.name %></h1>
            <h2 class="itemPrice">Cena: <%= shopItem.price %></h2>
            <p class="itemDescription">Opis: <%= shopItem.description %></p>
            <button class="itemAddCart" data-name="<%= shopItem.name%>" data-price="<%= shopItem.price%>" data-image="<%= shopItem.image %>">Dodaj do koszyka</button>
          </div>
    <% }); %>
  </div>
</body>
</html>